body{
    font-size: 16px;
    font-family: monospace;
	text-align: center;
	width: 100%;
	height: 100%;
}
iframe{
    width: 100%;
    height: 100%;    
}
.suc{
    width: 350px;
    height: 350px;
	margin: 16px;
	border: solid black 2px;
}

@media screen and (max-width: 600px) {
	.suc{
		width: 150px;
		height: 150px;
		margin: 16px;
	}
}
.map{
    display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}

.modal:target{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;

}
.modal-box-insurgentes{
	width: 50vw;
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	background: url(../img/fonTel.png) 100% center no-repeat;
	color: blanchedalmond;
}
.modal-box-oriente{
	width: 50vw;
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	background: url(../img/fonTel.png) 100% center no-repeat;
	color: blanchedalmond;
}
.modal-box-tlatelolco{
	width: 50vw;
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	background: url(../img/fonTel.png) 100% center no-repeat;
	color: blanchedalmond;
}
.modal-box-tepeyac{
	width: 50vw;
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	background: url(../img/fonTel.png) 100% center no-repeat;
	color: blanchedalmond;
}
.modal-box-atizapan{
	width: 50vw;
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	background: url(../img/fonTel.png) 100% center no-repeat;
	color: blanchedalmond;
}

.modal-box-galerias{
	width: 50vw;
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	background: url(../img/fonTel.png) 100% center no-repeat;
	color: blanchedalmond;
}
a{
	text-decoration: none;
	color: blanchedalmond;
}