body{
	box-sizing: border-box;
	font-family: monospace;
	font-size: 16px;
	text-align: justify;
	padding: 0;
	margin:0;
	scroll-behavior: smooth;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	align-items: center;
	align-content: space-evenly;
	background: linear-gradient(180deg, white 30%, rgb(148, 225, 245) 40%, white);
}

header{
	width: 100%;
}


.head-box{
	height: 75%;
	padding: 0px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;

}
.element{	

	font-size: 1em;
	background: linear-gradient(45deg, rgb(90, 173, 255 ),white,rgb(90, 173, 255 ),rgb(90, 173, 255 ),white,rgb(90, 173, 255));
}
.menu{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	line-height: normal;
	margin:0;
	padding: 0;
}	
.menu .menu-link{
	font-family: sans-serif;
	font-size: 1.2em;
	color: rgb(59, 59, 59);
	text-decoration: none;
	padding: .5em 1em;
	display: block;
 
}
.menu-link:hover{
	color: black;
}
.menu .menu-item{
	text-decoration: none;
	list-style: none;
	position: relative;
	text-align: center;
}

.menu-item:hover .submenu{
   display: block;
}
.submenu{
	display: block;
	position: absolute;
	display: none;
	z-index: 2;
	list-style: none;
	padding: 0;
	background: linear-gradient(45deg, rgb(90, 173, 255 ),white,rgb(90, 173, 255 ),white,rgb(90, 173, 255));
}

.logo1{ 
	align-self: flex-start;
	color: black;
}
input.src{
	outline: none;
	font-size: 1.5em;
	border-radius: 25px;
	color: #444;
	border: 2px solid black;
	width: 35vw;
	height: 100%;
}







/*------------------------------------------------------------------*/

/*------------------------------------------------------------------*/

.contenedor {
	margin: auto;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	align-items: center;
}

/* ---- ----- ----- Contenedor Principal y Flechas ----- ----- ----- */
.conteiner .contenedor-principal {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 90%;

}
.conteiner .contenedor-principal .flecha-izquierda,
.conteiner .contenedor-principal .flecha-derecha {
	position: absolute;
	border: none;
	height: 20%;
	width: 4%;
	cursor: pointer;
	z-index: 500;
	transition: .2s ease all;

}

.conteiner .contenedor-principal .flecha-izquierda {
	left: 0;
}

.conteiner .contenedor-principal .flecha-derecha {
	right: 0;
}
/* ---- ----- ----- Carousel ----- ----- ----- */
.conteiner .contenedor-carousel {
	width: 100%;
	height: 40vh;
	overflow: hidden;
	scroll-behavior: smooth;
}

.conteiner .contenedor-carousel .carousel {
	display: flex;
	flex-wrap: nowrap;
	align-items: stretch;
}

.conteiner .contenedor-carousel .carousel .pic {
	min-width: 20%;
	align-items: stretch;
	transition: .3s ease all;
	box-shadow: 5px 5px 10px rgba(0,0,0, .3);
}

.conteiner .contenedor-carousel .carousel .pic:hover {
	transform: scale(1.2);
	transform-origin: center;
}

.conteiner .contenedor-principal .flecha-izquierda:hover,
.conteiner .contenedor-principal .flecha-derecha:hover {
	height: 25%;
	width: 5%;
}

.conteiner .contenedor-carousel .carousel .pic img {
	width: 100%;
	height: 100%;
	vertical-align: center;
}

/*---- ----- ----- Media Queries ----- ----- -----*/
@media screen and (max-width: 800px) {
	.conteiner .contenedor-carousel .carousel .pic {
		min-width: 40%;
		min-height: 100%;
		transition: .3s ease all;
		box-shadow: 5px 5px 10px rgba(0,0,0, .3);
	}
	.conteiner .contenedor-principal .flecha-izquierda,
	.conteiner .contenedor-principal .flecha-derecha {
		position: absolute;
		border: none;
		height: 20%;
		width: 6%;
		cursor: pointer;
		z-index: 500;
		transition: .2s ease all;
	}
		.conteiner .contenedor-principal .flecha-izquierda:hover,
		.conteiner .contenedor-principal .flecha-derecha:hover {
			height: 25%;
			width: 8%;
		}

	
}


/*-------------------------------------------------------------------------------------------------------------*/

.contened{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
	margin:0;
	border: solid blue 3px;
}
.soon{
	width: 90%;
	height: auto;
}


.text1{
	font-size: 2.5em;
	height: fit-content;
	width: fit-content;
}
.text2{
	font-size: 2em;
	height: fit-content;
	width: 80%;
}

.multimedia{
	height: 100%;
	align-items: center;

}





.intel{
	height: 45vh;
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	flex-flow: row wrap;
	justify-content: space-around;
	text-decoration: none;
	border: solid green 3px;
}


.brother{
	width: 20%;
	background: url(https://image.freepik.com/foto-gratis/acuarela-grunge-pintada-superficie-texturizada_23-2148118078.jpg) center / cover no-repeat;
	margin: 10px;
	padding: 10px;
}
.brother:hover {
	transform: scale(0.9);
	transform-origin: center;
	transition: 0.5s ease-out;
}
.brother:first-child{
	background:url(../img/Padre.jpg) center / cover no-repeat;	
}
.brother:last-child{
	background:url(../img/atención-a-clientes.jpg) center / cover no-repeat;	
}
.brother:nth-child(2){
	background: url(../img/Mayoreo.jpg)center / cover no-repeat;
}
.brother:nth-child(3){
	background: url(../img/Accesorios.jpg)center / cover no-repeat;
}





.tables{
	padding: 1em;
	border: solid aqua 3px;
}

.Marcas{
	width: 100%;
	height: 80%;
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	flex-flow: row wrap;
	justify-content: space-around;
	align-content: space-between;
}

.Marcas .brother-1{
	width: 150px;
	height: 150px;

}
.brother-1:first-child{
	background: url(../img/lg.jpg)center / cover no-repeat;
}
.brother-1:nth-child(2){
	background: url(../img/Samsung.png)center / cover no-repeat;
}
.brother-1:nth-child(3){
	background: url(../img/Apple.png)center / cover no-repeat;
}
.brother-1:nth-child(4){
	background: url(../img/motorola.png)center / cover no-repeat;
}
.brother-1:nth-child(5){
	background: url(../img/huawei.jpg)center / cover no-repeat;
}
.brother-1:nth-child(6){
	background: url(../img/nokia.png)center / cover no-repeat;
}
.brother-1:nth-child(7){
	background: url(../img/alcatel.png)center / cover no-repeat;
}
.brother-1:nth-child(8){
	background: url(../img/soyericsson.jpg)center / cover no-repeat;
}
.brother-1:nth-child(9){
	background: url(../img/htc.jpg)center / cover no-repeat;
}
.brother-1:nth-child(10){
	background: url(../img/xiaomi.png)center / cover no-repeat;
}
.brother-1:nth-child(11){
	background: url(../img/lenovo.png)center / cover no-repeat;
}
.brother-1:nth-child(12	){
	background: url(../img/Lanix.png)center / cover no-repeat;
}






.contact{
	padding: .5em;
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	flex-flow: row wrap;
	justify-content: space-around;
	border: solid lightcoral 3px;

}
.contact-table{
	font-family:Times, 'Times New Roman', serif;
	width: 20%;
	height: 20%;
	white-space: pre-line;

}
.contact-element{
	font-family: sans-serif;
	font-size: 1em;
}





.farewell{
	color: whitesmoke;
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	flex-flow: row wrap;
	height: 200px;
	justify-content: space-around;
	background: linear-gradient( 45deg,rgb(9, 46, 146) 50%, rgb(234, 184, 27 ) 50%);
	border: solid brown 3px;
}
.final-botton1{
	height: 20%;
	text-decoration: none;
}
.final-botton2{
	height: 80%;
	background: linear-gradient(45deg, rgb(7, 29, 104),black,rgb(7, 29, 104),rgb(7, 29, 104),black,rgb(7, 29, 104));
	text-align: center;
	line-height: 2rem;
	text-align-last: center;
	scroll-behavior: smooth;
}

