body{
    margin: 0;
    width: 100%;
    height: 100vh;
    background: url(../img/evaluation.png) 100% 100%;
    position: relative;

}
.table{
    width: 100%;
}
.datos{
    width: 100%;
}
.funciones1{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.funciones2{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.funciones3{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.funciones4{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.boton{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
#boton{
    width: 30%;
    height: 40px;
}
#boton:hover{
    background: rgba(27, 115, 247, 0.377);
    border: solid black 1px;
}


input {
    font: 15px/22px "Raleway", sans-serif;
}
#dat{
    margin: 0 0 .8em 0;
    padding: .8em 2em 10px 0;
    width: 40%;
    display: inline-block;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #5A6374;
    outline: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: inherit;
    font-family: inherit;
    color: black;
}
#dat:hover{
    border: solid black 1px;
}
label{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 400px;
}