body{
    background: url(../img/evaluation.png) 100% center no-repeat;
}
form {
    width: 100%;
    margin: 0;
}
.table{
    margin:0;
}
  #form p {
    text-align: center;
  }
  
  #form label {
    font-size: 20px;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  label {
    color: grey;
  }
  
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
  label:hover,
  label:hover ~ label {
    color: orange;
  }
  
  input[type="radio"]:checked ~ label {
    color: orange;
  }


.parametro{
    display: flex;
    flex-flow: row wrap;
}
.title{
    width: 20%;
}
.estrellas{
    width: 30%;
}





.clasificacion-tr {
  direction: rtl;
  unicode-bidi: bidi-override;
}